// General Settings
input, textarea, select
  font-family: Arial

// Label
.field-label
  display: block
  font-size: 12px
  line-height: 12px
  color: #333
  font-weight: bold
.field-label-error
  display: block
  font-size: 12px
  line-height: 12px
  color: #d30707
  font-weight: bold

.input-field
  position: relative
  &.relative-index
    z-index: 2
.select-external-listener
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0

// Input
.text-input-field
  width: 100%
  margin-top: 10px
.text-input
  display: block
  width: 100%
  border-top: 1px none #000
  border-bottom: 1px solid #000
  border-right: 1px none #000
  border-left: 1px none #000
  background-color: transparent
  color: #001
  font-size: 14px
  height: 38px
  padding-bottom: 0px
  padding-left: 0
  padding-right: 50px
  font-size: 14px
  line-height: 1.5
  &:focus
    border-bottom: 1px solid #00CC00
    outline: none
    &:focus-visible
      outline: none

// Textarea
.textarea
  display: block
  width: 100%
  min-height: 38px
  max-height: 230px
  border-top: 1px solid #e3e3e3
  border-bottom: 1px solid #000
  border-right: 1px solid #e3e3e3
  border-left: 1px solid #e3e3e3
  background-color: transparent
  color: #001
  padding-right: 50px
  padding: 8px 12px
  margin-top: 10px
  font-size: 14px
  line-height: 21px
  &:focus
    border-bottom: 1px solid #00CC00
    outline: none
    &:focus-visible
      outline: none

// Passwords
.password-strength
  position: absolute
  bottom: -20px
  right: 0
.password-visable
  position: absolute
  top: 0
  bottom: 0
  right: 0
  margin: auto
  height: 38px
  width: 50px
  margin-bottom: 0
  background-color: transparent
  border: none

// Select  
.select-input-container
  position: relative
.select-input
  display: flex
  align-items: center
  position: relative
  height: 38px
  width: 230px
  background-color: transparent
  color: #001
  font-size: 14px
  font-size: 14px
  padding-right: 50px
  line-height: 1.5
  border: none
  border-bottom: solid 1px #000
  .indicator
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    top: 0
    bottom: 0
    right: 10px
    font-size: 16px
    transform: rotate(0deg)
    &.open
      transform: rotate(270deg)

.list-options
  display: flex
  flex-direction: column
  position: absolute
  width: 230px
  top: 38px
  left: 0
  right: 0
  background-color: purple
  max-height: 230px
  overflow: scroll
  box-shadow: 4px 4px 8px 2px rgb(0 0 0 /10%)
  ul
    list-style: none
    padding: 0
    margin: 0

.option
  display: flex
  height: 38px
  width: 230px
  background-color: transparent
  color: #FFF
  font-size: 14px
  height: 38px
  padding: 0px
  font-size: 14px
  line-height: 1.5
  &.hide
    display: none
  button
    display: flex
    align-items: center
    justify-content: center
    height: 38px
    width: 100%
    background-color: #FFF
    border: none
    border-bottom: solid 1px #000
    &:hover
      background-color: #00FF00

// Checkbox
.checkbox-field
  display: flex
  padding-top: 5px
  padding-bottom: 5px
  label
    width: fit-content
    padding-top: 3px
  .checkbox
    display: flex
    margin-right: 5px

// Radio
.radio-field
  display: flex
  padding-top: 5px
  padding-bottom: 5px
  label
    width: fit-content
    padding-top: 3px
  .radio
    display: flex
    margin-right: 5px

.submit-container
  display: flex
  margin-top: 20px
