@import './Fields.sass'

html,
body
  padding: 0
  margin: 0
  font-family: Arial
  background-color: #000022

a
  color: inherit
  text-decoration: none

*
  box-sizing: border-box

.container
  padding: 30px

.main
  display: flex
  flex-direction: column

.form-wrapper
  width: 720px
  max-width: 720px
  padding: 30px
  background-color: #FFF
  margin: 30px auto

.form-title
  display: flex
  color: #000
  font-size: 24px
  padding-bottom: 20px
